.outer-container {
  display: flex;
  flex-wrap: wrap;
  /* border: 3px solid black; */
}

.container1 {
  /* border: 2px solid rgb(240, 2, 2); */
  height: auto;
  font-size: 12px;
  padding: 0px 40px 0px 40px;
}

.container {
  /* border: 2px solid rgb(11, 218, 233); */
  flex: 2;
  margin: 0px 40px 0px 40px;
  display: flex;
  align-items: center;
}

.container2 {
  /* border: 2px solid rgb(12, 211, 78); */
  flex: 1;
  margin: 0px 40px 0px 40px;
  font-size: 14px;
}

.container2 > p {
  line-height: 5px;
}

.section {
  display: flex;
  flex-direction: row;
  height: 100vh;
  padding: 0px 40px 0px 40px;
}

.section2 {
  /* border: 2px solid pink; */
  flex: 2;
  margin-right: 20px;
}
.section3 {
  /* border: 2px solid hotpink; */
  flex: 1;
  margin-left: 20px;
}

/* body {
  margin: 50px 100px;
} */

img {
  width: auto;
  height: 120px;
}

.texth1 {
  padding-left: 10px;
  font-size: 23px;
}

h3 {
  margin-top: 0px;
  font-size: 14px;
}

.texth1 > h2 {
  margin-bottom: 0px;
}

.sech2 {
  /* margin: 15px; */
  background-color: rgb(236, 233, 228);
}

.job {
  font-size: 14px;
}

.skills-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

.skills-list {
  list-style-type: square;
  line-height: 1.5em;
  margin: 0 0 0 1px;
  position: relative;
  padding: 0 0 0 20px;
}

@media (max-width: 768px) {
  .container,
  .container2,
  .container1,
  .section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .section {
    padding: 10px;
  }

  .skills-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .imgh1 img {
    max-width: 100%;
  }

  .section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}